<nav class="navbar navbar-default" style="background-color:white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../../assets/logo.png">
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="#" style="color: black;">why use MyBillBook?</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: black;">Who is it for?</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: black;">Online Store</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: black;">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: black;">FAQs</a></li>
        
            </ul>
        </div>
    </div>

</nav>




